<div class= "good-dash-container">
  <div class="good-dashboard-profile">
    <div class="good-profile-image">
      <%= image_tag 'profile-image-xue.png', class: "good-profile-image" %>
    </div>
    <div class="good-dash-headline">
      <p class="head-text-light"><strong class="head-text-strong">Hello <%= current_user.username %>.</strong> You have liked <%= @viewings.count %> places.</p>
    </div>
  </div>

  <div class="good-cards-container">
    <% @viewings.each do |viewing| %>
      <div class= "good-places-card">
        <div class="good-card-text">
          <img src="<%= viewing.place.image_url %>" alt="img">
          <p class='good-places-title'><%= viewing.place.name %></p>
            <%=link_to(viewing_path(viewing), method: :delete) do %>
              <div class="good-dash-card-icon">
                <i class="far fa-trash-alt"></i>
              </div>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>