  <div class="categories-head">
    <p class="head-text-light"><strong class="head-text-strong">Categories.
      </strong> Discover places that make a difference.</p>
  </div>

  <div class="container-categories-cards">
    <% @specified_tags.each do |tag| %>
      <%= link_to swipe_places_path(category: tag.name) do %>
        <div class="cat-single-card">
          <div class="cat-card-text">
            <% case tag.name %>
              <%when "Coffee"%>
                <i class="fas fa-mug-hot category-icon"></i>
                <%= tag.name %>
              <%when "Social"%>
                <i class="fas fa-user-friends category-icon"></i>
                <%= tag.name %>
              <%when "Company"%>
                <i class="fas fa-building category-icon"></i>
                <%= tag.name %>
              <%when "Eatery"%>
                <i class="fas fa-utensils category-icon"></i>
                <%= tag.name %>
              <%when "Shopping"%>
                <i class="fas fa-shopping-bag category-icon"></i>
              <%= tag.name %>
              <%when "Grocerie"%>
                <i class="fas fa-shopping-basket category-icon"></i>
                <%= tag.name %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
