<div class="categories-head mt-40">
      <p class="head-text-light"><strong class="head-text-strong">New.</strong> Places that have joined us recently.</p>
  </div>

  <div class="container-categories-show-cards mt-4">
    <% @new_places.each do |place| %>
      <%= link_to place_path(place) do %>
        <div class="cat-single-show-card small-card">
          <div class="cat-card-show-text">
            <%= place.name %>
          </div>
        </div>
      <% end %> 
    <% end %>
  </div>

<div class="categories-head mt-40">
  <p class="head-text-light"><strong class="head-text-strong">More.</strong> Get inspired be all the great places here</p>
</div>

<div class="big-and-small-card-container d-flex">
  <% @more_places.each_slice(3) do |set_of_3_places| %>
    <div class="small-cards-container mr-12">

      <%= link_to place_path(set_of_3_places.first) do  %> 
        <div class="small-card" style="background-image: linear-gradient(rgba(0,0,0,0.19), rgba(0,0,0,0.74)), url('<%= "https://picsum.photos/500" %>')">
          <div class= small-card-text><p class="text-center"><%= set_of_3_places.first.name.capitalize %></p></div>
        </div>
      <% end %>

      <%= link_to place_path(set_of_3_places.second) do  %> 
        <div class="small-card mt-12" style="background-image: linear-gradient(rgba(0,0,0,0.19), rgba(0,0,0,0.74)), url('<%= "https://picsum.photos/500" %>')">
          <div class= small-card-text><p class="text-center"><%= set_of_3_places.second.name.capitalize %></p></div>
        </div>
      <% end %>
    </div>

      <%= link_to place_path(set_of_3_places.third) do  %>
      <div class="big-card mr-12" style="background-image: linear-gradient(rgba(0,0,0,0.19), rgba(0,0,0,0.74)), url('<%= "https://picsum.photos/500" %>')">
        <div class="big-card-title"><p class="text-center"><%= set_of_3_places.third.name.capitalize %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
