
<div class="categories-head mt-40">
  <p class="head-text-light"><strong class="head-text-strong">Recommended.</strong> Places that our team really likes</p>
</div>

<div class="big-and-small-card-container d-flex">
  <% @recommended_places.each_slice(3) do |set_of_3_places| %>
    <div class="small-cards-container mr-12">
      <div class="small-card" style="background-image: linear-gradient(rgba(0,0,0,0.19), rgba(0,0,0,0.74)), url('<%= set_of_3_places.first.image_url || "https://picsum.photos/500" %>')">
        <div class= small-card-text><p class="text-center"><%= set_of_3_places.first.name.capitalize %></p></div>
      </div>
      <div class="small-card mt-12" style="background-image: linear-gradient(rgba(0,0,0,0.19), rgba(0,0,0,0.74)), url('<%= set_of_3_places.second.image_url || "https://picsum.photos/500" %>')">
        <div class= small-card-text><p class="text-center"><%= set_of_3_places.second.name.capitalize %></p></div>
      </div>
    </div> 
    <div class="big-card mr-12" style="background-image: linear-gradient(rgba(0,0,0,0.19), rgba(0,0,0,0.74)), url('<%= set_of_3_places.last.image_url || "https://picsum.photos/500" %>')">
      <div class="big-card-title"><p class="text-center"><%= set_of_3_places.third.name.capitalize %></p>
      </div>
    </div>
  <% end %>
</div>
