<%= render 'shared/top_bar_default' %>
<%= render 'shared/search' %>
<%= render 'shared/categories' %>
<%= render 'shared/small_and_big_card' %>
<%= render 'shared/newplacescard' %>
<%= link_to "" do %>
  <h1>Holla </h1>
  <h2>que taaal</h2>
<% end %>
