<div class="container">
    <div class="categories-show-head">
      <p class="head-text-light"><strong class="head-text-strong"><%= @place.name %></strong><p class="head-text-light"><%= @place.tags.first.name %></p>
    </div>

    <div class="card-content">
      <% if @place.image_url.nil? || @place.image_url.ends_with?("svg")%>
        <img src="https://images.unsplash.com/photo-1523942839745-7848c839b661?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" />
      <% else %>
          <%= image_tag @place.image_url %>
      <% end %>
    </div>
    <div class="card-content-infos categories-show-head mt-12">
      <div class="card-swipe-infos">
        <%= link_to viewing_places_path do %><i class="fas fa-heart"></i></i><% end %>
        <%= link_to overview_places_path do %><i class="fas fa-times"></i></i><% end %>
      </div>
    </div>
    <p class="app-font lh-23"><%= @place.description.truncate(200) %></p>

    <%= link_to "Book now", "#", class: "btn btn-flat" %>


    <div class="categories-show-bottom">
      <p class="head-text-light"><strong class="head-text-strong">More places.</strong> in your current area</p>
    </div>

    <div class="container-categories-show-cards mt-4">
      <% @bottom_places.each do |place| %>
        <%= link_to place_path(place) do  %>
          <div class="small-card" style="background-image: linear-gradient(rgba(0,0,0,0.19), rgba(0,0,0,0.74)), url('<%= place.image_url || "https://picsum.photos/500" %>')">
            <div class="cat-card-show-text">
              <%= place.name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>


</div>
