
<div class="categories-head">
  <p class="swipe-head-text-light"><strong class="head-text-strong">Great places. </strong>All around you and close by.</p>
</div>


  <div class="swipe-container"> 
    <% unless @places.nil? %>
      <% @places.each do |place| %>
        <%= link_to place_path(place) do %>
          <div class="swipe-card-stack" data-place-id="<%= place.id %>" style="background-image: linear-gradient(rgba(0,0,0,0.19), rgba(0,0,0,0.83)),url('<%= place.image_url %>')">
          <p class="card-title"><%= place.name %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

<div class ="swipe-3-buttons-container">
  <div class="swipe-3-buttons">
    <%= image_tag "Button X.svg", class: "swipe-button dislike" %>
    <%= image_tag "Button - Heart.svg", class: "swipe-button like" %>
  </div>
</div>

<div class="categories-head mt-40">
  <p class="head-text-light"><strong class="head-text-strong">More places.</strong> Get inspired be all the great places here.</p>
</div>


  <div class="container-categories-show-cards index-bottom-row mt-4">
    <% @swipe_places.each do |place| %>
      <%= link_to place_path(place) do %>
        <div class="small-card" style="background-image: linear-gradient(rgba(0,0,0,0.19), rgba(0,0,0,0.74)), url('<%= place.image_url || "https://picsum.photos/500" %>')">
          <div class="cat-card-show-text">
            <%= place.name %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
