<div class="categories-head" style="padding: 0px 0 20px 20px;">
  <p class="head-text-light"><strong class="head-text-strong">Search-Term</strong> in your current area</p>
</div>

<div class="swipe-container">
  <% @places.each do |place| %>
    <div class="swipe-card-stack" data-place-id="<%= place.id %>" style="background-image: url('<%= place.image_url %>')">
    </div>
  <% end %>
</div>

<div class ="swipe-3-buttons-container">
  <div class="swipe-3-buttons">
    <%= image_tag "Button X.svg", class: "swipe-button dislike" %>
    <%= image_tag "Button - Heart.svg", class: "swipe-button like" %>
  </div>
</div>

<div class="categories-head mt-40">
  <p class="head-text-light"><strong class="head-text-strong">More.</strong> Get inspired be all the great places here</p>
</div>

<div class="container-categories-show-cards mt-4">
      <% @swipe_places.each do |place| %>
        <div class="small-card" style="background-image: linear-gradient(rgba(0,0,0,0.19), rgba(0,0,0,0.74)), url('<%= place.image_url || "https://picsum.photos/500" %>')">
          <div class="cat-card-show-text">
            <%= place.name %>
          </div>
        </div>
      <% end %>
    </div>
